.body{
    padding: 40px 0 0 0 ;
    margin: auto;
}
.changepassword {
    
    width: 400px;
    height: 350px;
    border: 5px solid black;
    padding: 30px;
    margin: auto;
    align-items: center;
    overflow: hidden;
    
  }

.frmchangepassword ul{
    display: inline-block;
    float: right;
    margin: auto;
    
}
.frmchangepassword th{
    padding: 20px;
    

}

