<div class="changepassword">
    <div class="frmchangepassword">
        <form #changepasswordForm="ngForm" (ngSubmit)="onSubmit(changepasswordForm.value)">
            <div class="body">
                <p class="txt-oldpassword">
                    <input type="password" class="form-control" id="inputOldpassword" placeholder="Mật khẩu cũ" />
                </p>
                <p class="txt-newpassword">
                    <input type="password" class="form-control" id="inputNewpassword" placeholder="Mật khẩu mới" />
                </p>
                <p class="txt-againpassword">
                    <input type="password" class="form-control" id="inputAgainpassword" placeholder="Nhập lại mật khẩu" />
                </p>
            </div>

            <ul>
                <th>
                    <p class="form-send">
                        <button type="submit" style="width:50px; height: 30px;">Gửi</button>
                    </p>
                </th>
                <td></td>
                <th>
                    <p class="form-cancel">
                        <button (click)="goBack()" style="width:50px; height: 30px;">Hủy</button>
                    </p>
                </th>
               
                
            </ul>
        </form>
    </div>

</div>


<router-outlet></router-outlet>