<div class="newpassword">
    <div class="frmnewpassword">
        <form #newpasswordForm="ngForm" (ngSubmit)="onSubmit(newpasswordForm.value)">
            
            <p class="txt-newpassword">
              
                <input type="password" class="form-control" name="newpassword" id="inputNewpassword"  placeholder="Mật khẩu mới" ngModel/>

            </p>
            <p class="txt-againpassword">
                <input type="password" class="form-control" name="againpassword" id="inputAginpassword"  placeholder="Nhập lại mật khẩu" ngModel/>
            </p>
            <ul>
                <th>
                    <p class="form-cancel">
                        <button (click)="goBack()">Hủy</button>
                    </p>
                </th> 
                <td></td>
                <th>
                    <p class="form-send">
                        <button type="submit">Gửi</button>
                    </p>
                </th>
            </ul>
        </form>
    </div>
</div>

<router-outlet></router-outlet>

<!-- <input type="password" class="form-control" name="againpassword" id="inputAginpassword"  placeholder="Nhập lại mật khẩu"/> -->
